.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center;

  &__item {
  }

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    font-family: $font-display;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    text-decoration: none;
    background-color: rgba(#fff, 0.05);
  }

  &__link:hover,
  &__link:active {
  }
}
