.story {
  &__pictures {
    background-color: $color-grey-light-2;
    grid-column: full-start / col-end 4;
    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.3)
      ),
      url(../img/back.jpg);

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
  }

  &__img--1 {
    width: 100%;
    grid-area: 2 / 2 / 6 / 6;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  }

  &__img--2 {
    width: 115%;
    grid-area: 4 / 4 / 6 / 7;
    z-index: 20;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }
  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;

    display: grid;
    align-content: center;
    justify-items: flex-start;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
